{% extends 'message_board/base.html' %}

{% block title%}Home{% endblock title %}
{% block content %}
<h3>New Thread</h3>
<form action="{% url 'message_board:new_thread' %}" method="post">
  {# Flaw 1 #}
  {# Uncomment the csrf_token from the row below to make sure it is sent to server with the form #}
  {# {% csrf_token %} #}
  <p>
    <label>Title</label>
    <br>
    <input type="text" name="new-thread-title" />
  </p>
  <p>
    <label>Content</label>
    <br>
    <textarea name="new-thread-content" rows="3" cols="80" minlength="1" maxlength="4096"></textarea>
  </p>
  <input type="submit" value="Submit" />
</form>
{# {% endif %} #}
{% if thread_list %}
<h2>Threads</h2>
<ul>
  {% for thread in thread_list %}
  <li><a href="{% url 'message_board:thread' thread.id %}">{{ thread.title }}</a></li>
  {% endfor %}
</ul>
{% endif %}
{% endblock content %}