<h1>Message Board</h1>
{% if request.user.is_authenticated %}
<span>
  Logged in as {{ request.user.username }}
  <form action="{% url 'message_board:logout_view' %}" method="post">
    {% csrf_token %}
    <input type="submit" value="Logout"/>
  </form>
</span>
{% else %}
<a href="{% url 'message_board:login_view' %}" type="button">Login</a>
{% endif %}
{% if request.user.is_authenticated %}
<h3>New Thread</h3>
<form action="{% url 'message_board:new_thread' %}" method="post">
  {% csrf_token %}
  <p>
    <label>Title</label>
    <br>
    <input type="text" name="new-thread-title"/>
  </p>
  <p>
    <label>Thread Content</label>
    <br>
    <textarea name="new-thread-content" rows="3" cols="80" minlength="1" maxlength="4096"></textarea>
  </p>
  <input type="submit" value="Submit"/>
</form>
{% endif %}
{% if thread_list %}
  <h2>Threads</h2>
  <ul>
  {% for thread in thread_list %}
    <li><a href="{% url 'message_board:thread' thread.id %}">{{ thread.title }}</a></li>
  {% endfor %}
  </ul>
{% endif %}