<nav><a href="{% url 'message_board:index' %}">Back to Home</a></nav>
<div>
  <h1>{{ thread.title }}</h1>
  <p>{{ thread.content }}</p>
  <form action="{% url 'message_board:delete_thread' thread.id %}">
    {% csrf_token %}
    <input type="submit" value="Delete thread"/>
  </form>
  <form action="{% url 'message_board:new_reply' thread.id %}" method="post">
    {% csrf_token %}
    <p>
      <label>Reply Content</label>
      <br>
      <textarea name="new-reply-content" rows="3" cols="80" minlength="1" maxlength="4096"></textarea>
      <br>
    </p>
    <input type="submit" value="Submit"/>
  </form>
  {% if replies %}
    <h3>Replies</h3>
    <ul>
    {% for reply in replies %}
      <li>
        <span style="display: flex;">
          {{ reply.content }}
          <form action="{% url 'message_board:delete_reply' thread.id reply.id%}">
            {% csrf_token %}
            <input type="submit" value="Delete"/>
          </form>
        </span>
      </li>
    {% endfor %}
    </ul>
  {% endif %}
</div>
