{% extends 'message_board/base.html' %}

{% block title %}{{ thread.title }}{% endblock title %}
{% block content %}
<div>
  <h1>{{ thread.title }}</h1>
  <p>Submitted by {{ thread.user.username }}</p>
  <p>{{ thread.content }}</p>
  {% if thread.user.id == request.user.id %}
  <form action="{% url 'message_board:delete_thread' thread.id %}" method="post">
    {% csrf_token %}
    <input type="submit" value="Delete thread"/>
  </form>
  {% endif %}
  <form action="{% url 'message_board:new_reply' thread.id %}" method="post">
    {% csrf_token %}
    <p>
      <label>New reply</label>
      <br>
      <textarea name="new-reply-content" rows="3" cols="80" minlength="1" maxlength="4096"></textarea>
      <br>
    </p>
    <input type="submit" value="Submit"/>
  </form>
  {% if replies %}
    <h3>Replies</h3>
    <ul>
    {% for reply in replies %}
      <li>
        <span style="display: flex;">
          {{ reply.content }}
          {% if reply.user.id == request.user.id %}
          <form action="{% url 'message_board:delete_reply' thread.id reply.id%}" method="post">
            {% csrf_token %}
            <input type="submit" value="Delete"/>
          </form>
          {% endif%}
        </span>
      </li>
    {% endfor %}
    </ul>
  {% endif %}
</div>
{% endblock content %}
